
#wrapper{
    width: 700px;
    height: 600px;
    background-color: #00CCFF;
}


.header{
	background-color: orange;
	text-align: center;
	width:500px;

	

}

#instructions{
	background-color: #CCD1D1

}
